.playList{
    display: flex;
    gap: 2rem;
    border-bottom: 1px dashed gray;
    padding: 2rem;
    text-decoration: none;

}

.playListContainer{
}

.playListHeader>h1{
    color: white;
    margin-left: 2rem;
}
.playListHeader>p{
    color: gray;
    margin-left: 2rem;
}

.playListItem{
    width: 15rem;
    border: 1px solid gray;
}


.playListTitle{
    color: white;
    font-size: large;
}

.channelTitle{
    color: gray;
}